.waitlist-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    background-color: #DFCCFB;
  }
  
  .waitlist-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
  }
  
 
  select,
  button {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  input{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  select {
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat right 10px center/15px 15px;
  }
  
  button {
    /* background-color: #007bff; */
    background-color: #512B81;

    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    /* background-color: #0056b3; */
    background-color: #4477CE;

  }
  
  .toast {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  @media (max-width: 768px) {
    .waitlist-form-container {
      padding: 20px;
    }
  
    .waitlist-form {
      max-width: 80%;
    }
  
    .waitlist-form label,
    .waitlist-form input,
    .waitlist-form select,
    .waitlist-form button {
      font-size: 16px;
    }
  }
  